body, ul, p, h1, h2{
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }

    header {
      background-image: url('../img/png-clipart-removebg-preview.png');
      background-size: 30% auto;
      background-repeat: no-repeat;
      text-align: right;
    }
    header p {
      font-size: 60px;
      font-weight: bold;
      color: #0B5345;
      text-align: center;
      text-transform: uppercase;
      padding: 50px 0 0 0;
    }
    header div {
      display: inline-block;
      border: 1px solid black;
      font-size: 25px;
      color: #0B5345;
      margin: 50px 10% 0 0;
      padding: 20px;
    }

    header div:not(:last-of-type) {
      margin-right: 20px;
    }
    .description, .time, .price {
      display: inline-block;
      margin: 20px 0 20px 50px;
      
    }

    .description {
      width: 40%;
    }
    .time, .price {
      vertical-align: top;
      padding-top: 20px;
      width: 20%;
      font-style: italic;
      color: #0B5345
    }
    ul {
      padding: 0 20px;
    }

    ul > li {
      padding: 10px 0;
    }

    .title {
      font-size: 40px;
      color: #0B5345 ;
    }
    .steps, .price {
      font-size: 25px;
    }

    header div:hover, article:hover {
      background-color: #81aea52b;
    }
    @media screen and (max-width: 1200px){
        header {
          background: none; 
        }
        header div {
          display: block;
          text-align: center;
          margin: 0;
          width:100%;
          padding: 20px 0 20px 0;
        }
    }
    @media screen and (max-width:840px){
      header div{width: 100%; display: block; text-align: center;}
      article .description{width: 80%; }
      .time,.price{
        background-color: #81aea52b; 
        font-weight: bold; 
        font-size:20px;
        width: 40%; 
        text-align: center;
        padding-bottom: 2%;
       }

    }
     @media screen and (max-width:540px){
     div .description,.time,.price {display:block; width:80%;padding-bottom: 5%;}
     }